# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints

# Ignore virtual environment
myenv/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore pdf files
*.pdf

# Ignore system files
.DS_Store
Thumbs.db
